owner_name="Rana Universe"


APP__HOST="0.0.0.0"
APP__PORT=9999
APP__DEBUG=TRUE
APP__SECRET_KEY="RANAUNIVERSENOOB"


# OTP_BACKEND=redis
OTP__BACKEND=local


Mail__PROVIDER=local

MAIL__HOST=localhost
MAIL__PORT=465
MAIL__USERNAME=Rana@gmail.com
MAIL__PASSWORD=MY_PASSWORD_IS_XYZ
MAIL__SECURITY=ssl

# This below values need to be the register service gmail id
MAIL__ADDRESS__FROM_EMAIL_DEFAULT=Rana@gmail.com



# Below things doesnot care about the hosting it will only receive mails

MAIL__ADDRESS__REPLY_TO_DEFAULT=Rana+Default@gmail.com
MAIL__ADDRESS__REPLY_TO_BILLING=Rana+Billing@gmail.com
MAIL__ADDRESS__REPLY_TO_OTP=Rana+OTP@gmail.com
MAIL__ADDRESS__REPLY_TO_SUPPORT=Rana+Support@gmail.com
MAIL__ADDRESS__REPLY_TO_SALES=Rana+Sales@gmail.com
MAIL__ADDRESS__REPLY_TO_SECURITY=Rana+Security@gmail.com
MAIL__ADDRESS__REPLY_TO_ACCOUNT=Rana+Account@gmail.com
MAIL__ADDRESS__REPLY_TO_JOBS=Rana+Jobs@gmail.com
MAIL__ADDRESS__REPLY_TO_LOGIN=Rana+Login@gmail.com
MAIL__ADDRESS__REPLY_TO_WELCOME=Rana+Welcome@gmail.com



REDIS__HOST=localhost
REDIS__PORT=6379
REDIS__DB=0
REDIS__USERNAME=rana_username
REDIS__PASSWORD=rana_password

# This below redis url is top most priority
REDIS__URL=redis://:rana%40@localhost:6379/0


DB__BACKEND=sqlite
DB__sqlite_filename="local_database_file.db"

# DB__BACKEND=postgres

# DB__USERNAME=rana
# DB__PASSWORD=rana@123
# DB__HOST=localhost
# DB__PORT=5432
# DB__NAME=app_database

TELEGRAM_BOT_TOKEN="PrivateBotToken"

SUNO_DOWNLOADER_URL="rana49.online"