{#
templates/partials/_js_frontend_links.html

Here i will do write the links in one place to easy navigation
#}

<script>
    window.RANA_CONFIG = {
        RIGHTS_URL: "/api/RanaUniverse/rights",
        AUDIO_BASE_URL: "https://d2lwuy8qc234o3.cloudfront.net/1/clip/",

        CONTENT_TYPE: "clip",
        AES_BLOCK_BYTES: 16,
        UUID_RE: /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i,

        WRITER_URL: "https://cdn.jsdelivr.net/npm/browser-id3-writer@4.4.0/dist/browser-id3-writer.min.js",

        LAME_URL: "https://cdn.jsdelivr.net/npm/lamejs@1.2.1/lame.min.js",

        DEMO_SONGS_LINKS: [
            // This first one is try 
            "https://suno.com/s/kuuNnXWLBeiaN1wU",
            // Below are Copyright Free from Rana Universe
            "https://suno.com/s/JKmaWAzKI6CiuQMJ",
            "https://suno.com/s/cbDOEH5feyWw6oEF",
            "https://suno.com/s/C9EJnItzEbYApJMH",
            "https://suno.com/s/WxZwWbtM8cb5G48P",
            "https://suno.com/s/lKK8wrwiodr2R2SS",
            "https://suno.com/s/Cij6o9LwTCxmb5Y7",
            "https://suno.com/s/RpJiid6IVcLKzHPd",
            "https://suno.com/s/aR3tsMFA68Q9lNuJ",
            "https://suno.com/s/NQ1bhdeDofPumgBY",
            "https://suno.com/s/UXNbVRTlqvVb2Nd1",
            "https://suno.com/s/Xp3XZnfea2MXGpap",
            "https://suno.com/s/o32UL0hRByg1yPyK",
            "https://suno.com/s/NY3DvLKQ5QopDzPU",
            "https://suno.com/s/YZ33o5QaXED9iO0S",
            "https://suno.com/s/AwI6KsFH3YxZZgaz",
            "https://suno.com/s/zfqMzGmNlw9bTvAT",
            "https://suno.com/s/Fce4w7EnIQfRhPUL",
            "https://suno.com/s/VnR5ZuCghr8ixRYO",
            "https://suno.com/s/APAJBfHXzpLnBsEs",
            "https://suno.com/s/DvOwi5JCbS0PSNsT",
            "https://suno.com/s/RbiSw2UYp0J7sJkY",
            "https://suno.com/s/xGMsb9CspedVbECW",
            "https://suno.com/s/QJ8JomxCWEeR2MfX",
            "https://suno.com/s/IQjJCfrVTRu0wvZO",
            "https://suno.com/s/1lPpWawS5O0VIe1W",
            "https://suno.com/s/gG1qk2qA4rAI5MD8",
        ]
    };
</script>