{#
templates/base.html
This is the main base html file i will use
#}
{#
i will later use all my thigns comes form thsi base
for now the identity are going from here
#}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>
        {% block title %}
        Ai Song Download | Rana Universe 
        {% endblock %}
    </title>


    {% block head_meta %}
    {%- include 'partials/_preview_metadata.html' -%}
    {% endblock %}

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">


    {% include 'partials/_assets_css.html' %}

    <link rel="stylesheet" href="/static/css/theme.css">
    {% block page_css %}
    {% endblock %}

    {% include 'partials/_js_frontend_links.html' %}

    {% block head_js %}
    {% endblock %}


</head>

<body>
    {%- include 'partials/_navbar.html' -%}

    {%- include 'partials/_flash_messages.html' -%}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    {% include 'partials/_footer.html' %}
    {% include 'partials/_assets_js.html' %}

    {% block custom_js %}
    {% endblock %}

</body>

</html>